In [1]:
import pandas as pd

In [122]:
persons = [
    {'age': 22, 'predicted_birth_date': '2023-09-03', 'nutrition_preference': 'vegan'},
    {'age': 27, 'predicted_birth_date': '2023-03-01', 'nutrition_preference': 'flexitarian'}
]

In [123]:
nugget_flows = [
    '1,2,3,4', '3,2,1,4', '3,4,1,2'
]

In [124]:
age_range = [22,36]
trimester_range = [1,3]

In [125]:
cases = []
for p in persons:
    for f in nugget_flows:
        n = p.copy()
        n['nugget_flow'] = f
        cases.append(n)

In [136]:
df = pd.DataFrame.from_records(cases)
df

   age predicted_birth_date nutrition_preference nugget_flow
0   22           2023-09-03                vegan     1,2,3,4
1   22           2023-09-03                vegan     3,2,1,4
2   22           2023-09-03                vegan     3,4,1,2
3   27           2023-03-01          flexitarian     1,2,3,4
4   27           2023-03-01          flexitarian     3,2,1,4
5   27           2023-03-01          flexitarian     3,4,1,2

In [137]:
df.to_csv('cases.csv', index=False)